/*
font-family: 'Lato', sans-serif;   gral 300
font-family: 'Cutive Mono', monospace; titulo h1 400
*/

*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	font-family: Lato, sans-serif;
	font-weight: 300;
	background-color: #ffffff;
}
header{ /*estiliza el header de toda la web*/
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: white;
}

header h1 a{ /* estiliza el titulo principal dentro del header */
	text-decoration: none;
	font-family: 'Cutive Mono', monospace;
	color: #333;
	font-size: 1.5em;
	letter-spacing: -4px;
}
nav ul{ /* estiliza la lista que se ve dentro del nav */
	display: flex;
	justify-content: center;
	align-items: center;	
	list-style: none;
	margin-right: 30px;
}
nav li{ /* estiliza cada punto de la lista dentro del nav */
	margin-right: 30px;
	flex-grow: 1;
}
nav li a{ /* estiliza los enlaces, es decir las palabras dentro de la lista del nav*/
	color: #333;
	text-decoration: none;
	display: block;
	margin-right: 10px;
	font-weight: 400;
	cursor: pointer;
}
nav li:first-child{ /* aca le digo al primer hijo li, dentro del nav que no aparezca en pantalla */
	display: none;
}

.abrir,.cerrar{ /* clases que voy a utilizar en JS */
	display: none;
}
	/*Hasta aca se estilizaron elementos comunes para todas las secciones*/

/*a partir de aca se estilizan elementos especificos del index.html*/
.inicio section{
	display: block;
	
}
.inicio div.fondo{ /* estilizo para todo el fondo en general para decirle que las imagenes esten hubicadas una al lado de la otra*/
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.inicio div.fondo section{
	flex-grow: 1;
	list-style: none;
}
.inicio div.fondo a{ /* estilizo los 3 enlaces (imagenes de fondo) general y despues voy a lo especifico*/
	display: block;
	height: 100vh;
	background: url(../img/01index.jpeg) no-repeat center;
	background-size: 130%;
	text-decoration: none;
	font-size: 1.5em;
	color: #333;
	text-transform: lowercase;
	position: relative;
	transform: scale(1);
	transition: transform 0.9s;
}

.inicio div.fondo section:first-child a{ /* aca me centro en la primera imagen que se ve en el index */
	background: url(../img/02index.jpeg) no-repeat center;
	color: #333;
	background-size: 130%;
}
.inicio div.fondo section:last-child a{ /* aca me centro en la ultima imagen que se ve en el index */
	background: url(../img/03index.jpeg) no-repeat center;
	color: #333;
	background-size: 130%;
}
.inicio div.fondo a:hover { /* lo que digo aca y en los siguientes dos bloques, es que al pasar el cursor por las imagenes,
								se haga una transormacion de escala, donde la imagen se agrande en 1.1 */
	transform: scale(1.1);
}
.inicio div.fondo section:first-child a:hover {
	transform: scale(1.1);
}
.inicio div.fondo section:last-child a:hover {
	transform: scale(1.1);
}
.inicio div.fondo span{	/*aca lo que estilizo con las palabras que aparecen junto a las imagenes de fondo. */
	position: absolute;
	bottom: 120px;
	left: 50px;
	font-weight: 400;
}
/*los 4 bloques que siguen, son para estilizar el footer y los enlaces dentro de este que redirigen a otras paginas web.*/
footer{
	position: fixed;
	z-index: 1;
	bottom: 0px;
	height: 70px;
	width: 100%;
	background-color: white;
	opacity: 0.8;
	border-radius: 10px 10px 0 0;
}
section.footer{
	height: 70px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;

}
footer section.footer div{
	list-style: none;
	margin-right: 20px;
	margin-top: 10pxs;
}
footer a{

	color: black;
	text-decoration: none;
	font-weight: 400;
}

/*ESTILO PARA LA SECCION: CATALOGO*/
/*a partir de aca se estiliza la galería de fotos, las imagenes dentro de la galería*/
.catalogo .galeria{
	width: 900px;
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 10px;
	margin: 0 auto;
	padding: 80px;
}
.catalogo .galeria a,
.catalogo .galeria img{
	display: block;
	width: 100%;
}
/*en los 4 bloques siguientes lo que hago es ponerle un filtro de greyscal a las fotos y le digo con el hover
que al pasar el cursor las imagenes vuelvan a su color normal*/
.catalogo .galeria img{
	filter: grayscale(80%);
	transition: filter 0.9s;
}
.catalogo .galeria a:hover img{
	filter: grayscale(0);
}
.catalogo .galeria img{
	transform: scale(1);
	transition: transform 0.9s;
}
.catalogo .galeria a:hover img{
	transform: scale(1.1);
}
/*aca estoy estilizando la modal, la cual en ppio le digo que no se vea*/
.modal{
	display: none;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
}

.modal img{
	display: block;
	width: 500px;
}
.modal a{
	display: block;
	color: #333;
	font-size: 8em;
	text-decoration: none;
	margin: 0 20px;
	cursor: pointer;
}


.visible{ /* esta es la clase que voy a usar el JS para que se vea la modal */
	display: flex;
	flex-wrap: nowrap;
}

/*ESTILO PARA LA SECCION: Sobre Croquier*/
.contenido{ /*estilizo bloque que contiene las section con clase:  texto e imagenes*/
	height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 30px 30px 30px;
}
.texto{
	padding-right: 40px;
}
.contenido h2{
	color: #333;
	font-size: 4em;
	font-weight: 300;
	position: relative;
	top: 10px;
	z-index: -1;
}
.contenido p{
	margin-top: 10px;
	margin-left: 20px;
}

.sobre_croquier section.imagenes img{
	width: 300px;
}

/*ESTILO PARA LA SECCION: CONTACTO*/

.contacto .contenedor{ /*aca estilizo al contenedor que tiene las section:  imagenescontacto y formulario*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 70px 30px 30px 30px;
}

.contacto .contenedor img{
	width: 330px;
}
.contacto section section.formulario{
	top: 180px;
	right: 15px;
}
.contacto h2{
	padding: 10px;
	font-family: Lato, sans-serif;
	font-weight: 300;
}
.contacto form{
	height: 250px;
	width: 650px;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.contacto form div{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	margin: 0 20px;
	flex-grow: 1;
}
.contacto input[type="text"]{ /*estilizo todos los input que tienen tipo texto. */
	-webkit-appearance: none; /*les saco el estilo que tienen por default del navegador*/
	appearance: none;
	font-family: Lato, sans-serif;
	font-weight: 300;
	width: 100%;
	border: none;
	border-bottom: 1px dashed #333;
	padding: 10px;
	text-align: left;
	margin-bottom: 5px;
	color: grey;
}
.contacto .segundoForm input[type="text"]{ /*estilizo especificamente el input de tipo text que esta dentro de la clase .segundoForm*/
	border: 1px dashed #333;
	height: 200px;
}
.contacto input[type="submit"]{ /*estilizo el input de tipo submit y le saco el estilo por default tambien*/
	-webkit-appearance: none;
	appearance:  none;
	cursor: pointer;
	border: none;
	border: 0.5px solid #333;
	border-radius: 50%;
	padding: 20px;
	text-align: center;
	background: none;
	color: grey;
}


/*MEDIA QUERYIES*//*generé las adaptaciones requeridas por el diseño de la pagina a las diferentes medidas*/
@media screen and (max-width:  1080px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 1080px*/
											/*adapto unicamente las imagenes de la seccion sobre_croquier*/
	.sobre_croquier section.imagenes img{
		width: 230px;
	}
}
@media screen and (max-width:  1027px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 1027px*/
	.contacto .contenedor img{ /*adapto el tamaño de las imagenes en la seccion contacto*/
		width: 300px;
	}
	.contacto form{ /*adapto el tamaño del formulario*/
		width: 550px;
	}
}
@media screen and (max-width: 1000px){/*estilizo para adaptar el diseño a pantallas menores o iguales a 1000px*/
	.catalogo .galeria{ /*adapto el tamaño de la grilla de imagenes, cambio a 4 columnas*/
		width: 800px;
		grid-template-columns: repeat(4, auto);
		top: 180px;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 900px){/*estilizo para adaptar el diseño a pantallas menores o iguales a 900px*/
	.inicio div.fondo span{ /*adapto y achico las palabras del fondo del inicio*/
		margin: 60vh 30px 0; 
		font-size: 1em;
	}
	.contacto form{ /*achico el formulario*/
		height: 250px;
		width: 500px;
	}
	.contacto h2{ /*achico el tamaño de titulo segundario de la seccion de contacto*/
		font-size: 1.2em;
	}

	.inicio div.fondo{
		display: block;
	}
	.catalogo .galeria{ /*achico la grilla de imagenes en la cantidad de columnas*/
		width: 700px;
		grid-template-columns: repeat(3, auto);
		top: 180px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 880px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 880px*/
	.contenido{ /*cambio la direcion del flex, para que las cosas esten uno abajo de la otra*/
		flex-direction: column;
		padding-top: 80px;
	}
	.sobre_croquier .imagenes{ /*al contenedor de las imagenes le digo que sea flex y por default row, asi estan una imagen al lado de la otra*/
		display: flex;
	}
	.sobre_croquier section.imagenes img{ /*achico las imagenes*/
		width: 280px;
	}
	.sobre_croquier .contenido h2{ /*achico el titulo secundario de la seccion sobre croquier.*/
		font-size: 3em;
	}
}
@media screen and (max-width: 850px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 850px*/
										/*le digo al contenedor de la seccion contacto que cambie la direccion del flex. tambien cambio el tamaño de las imagenes*/
	.contacto .contenedor{
		flex-direction: column-reverse;
		justify-content: space-between;
		padding: 100px 30px 30px 30px;
	}
	.contacto .contenedor img{
		width: 400px;
	}
}
@media screen and (max-width: 800px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 800px*/
	.catalogo .galeria{ /*vuelvo a achicar la galería de fotos*/
		width: 500px;
		grid-template-columns: repeat(3, auto);
	}
}
@media screen and (max-width: 750px){/*estilizo para adaptar el diseño a pantallas menores o iguales a 750px*/
										/*adapto la modal achicandola junto a las flechas.*/
	.modal img{
		width: 400px;
	}
	.modal a{
		font-size: 7em;
	}

}
@media screen and (max-width: 700px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 700px*/
							/*en esta medida es donde aparece el menu desplegable, entonces lo que hago es estilizar todo de manera que 
							quede fuera de pantalla y luego en desplegado que vuelva a aparecer. eso lo voy a usar luego en JS*/
	nav{
		position: fixed;
		top: -100vh;
		left: 0;
		padding: 20px;
		width: calc(100% - 40px);
		height: calc(100vh - 40px);
		background-color: #747779;
		transition: top 0.7s;
	}
	.desplegado{
		top: 0;
	}
	nav ul{
		display: block;
	}
	nav li:not(:first-child){
		font-size: 1.7em;
		margin-left: 20px;
		margin-top: 20px;
	}
	nav li:not(:first-child){
		margin-top: 20px;
	}
	nav li a{
		color: white;
	}
	nav li:first-child{
		display: list-item;
		font-size: 3em;
		font-family: 'Cutive Mono', monospace;
		letter-spacing: -4px;
		margin-bottom: 20px;
	}
	.cerrar{	/*estilizo el boton para cerrar el menu desplegable, la x*/
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 2.5em;
		text-decoration: none;
		color: white;
	}
	.abrir{ /*estilizo el menu hamburguesa*/
		display: block;
		width: 30px;
		border: 1px solid #333;
		padding: 5px 5px 0;
		border-radius: 5px;
		margin-right: 30px;
	}
	.abrir span{ /*estilizo lo que compone el menu hamburguesa, las 3 lineas*/
		display: block;
		height: 3px;
		background-color: #333;
		margin-bottom: 5px;
		margin-top: 0;
	}
}

@media screen and (max-width: 650px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 650px*/
	.sobre_croquier .texto{ /*achico el contenedor con clase texto de la seccion sobre croquier*/
		width: 550px;
	}
	.sobre_croquier section.imagenes img{ /*achico las imagenes de la seccion sobre croquier*/
		width: 250px;
	}
	.catalogo .galeria{ /*achico la galeria y le dejo dos columnas*/
		width: 400px;
		grid-template-columns: repeat(2, auto);
	}
	.contacto section{ /*la muevo de lugar*/
		top: 150px;
		margin: 0 auto;
	}
	.contacto form{ /*achico el formulario de contacto y lo cambio de direccion para que queden los elementos una abajo de la otra*/
		height: 400px;
		flex-direction: column;
		align-items: stretch;
	}
	.contacto form div{
		align-items: center;
	}
	.contacto input[type="submit"]{
		margin-top: 10px;
		padding: 15px;
	}
}

@media screen and (max-width: 600px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 600px*/
	.catalogo .galeria{ /*achico la galeria y le dejo una sola columna*/
		width: 200px;
		grid-template-columns: repeat(1, auto);
	}
	.modal img{ /*achico imagen de modal*/
		width: 350px;
	}
	.modal a{ /*achico flechas de modal*/
		font-size: 5em;
	}
	.sobre_croquier .texto{ /*achico el contenedor con clase texto */
		width: 450px;
		padding-right: 0;
	}
	.sobre_croquier .imagenes{ /*cambio la direccion del flex para que las imagenes estan una abajo de la otra*/
		display: flex;
		flex-direction: column;
	}
	.sobre_croquier section.imagenes img{ /*cambio tamaño de imagenes*/
		width: 280px;
	}
	.contenido h2{ /*cambio tamaño del titulo secundario de la seccion sobre croquier*/
		font-size: 2.5em;
		padding-left: 10px;
	}
}

@media screen and (max-width: 560px){ /*estilizo para adaptar el diseño a pantallas menores o iguales a 560px*/
	.contacto form{ /*achico tamaño del formulario*/
		width: 400px;
	}
}
@media screen and (max-width: 500px){ /*estilizo para adaptar el diseño a pantallas 500px*/
							/*achico el tamaño de imagen de la modal y de las flecha de costado*/
	.modal img{
		width: 200px;
	}
	.modal a{
		font-size: 3em;
	}
}